# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.html

# Configuration files
*.local.yaml

# Ignore IDE specific files
.idea/
cmd/config/local.config.yaml

# OS Files
.DS_Store
